.number{
    width: 30%;
    border-radius: 10px;
    padding:7px 0;
}
.brand{
    border: 1px solid #0a2335;
    width: 30%;
    border-radius: 10px;
}
.title {
    margin-top: 10px;
    padding: 10px 0;
    background: rgba(0, 128, 0, 0.5);
}